<section class="container">
    <header>Registration Form</header>
    <form action="#" class="form" [formGroup]="registrationDetailsForm" (ngSubmit)="submit()">
      <div class="input-box">
        <label>Full Name</label>
        <input type="text" placeholder="Enter full name" formControlName="name" required />
        <!-- @if (this.registrationDetailsForm.hasError('required')) {
          <label>Please Enter full name</label>
        } -->
        <span class="text-danger"
            *ngIf="this.registrationDetailsForm.get('name')?.touched 
            && this.registrationDetailsForm.get('name')?.hasError('required')">
            Name is required
        </span>
      </div>
      <div class="input-box">
        <label>Email Address</label>
        <input type="text" placeholder="Enter email address" formControlName="email" required />
        <span class="text-danger"
          *ngIf="this.registrationDetailsForm.get('email')?.touched 
          && this.registrationDetailsForm.get('email')?.hasError('required')">
        email is required
    </span>
    <span class="text-danger"
          *ngIf="this.registrationDetailsForm.get('email')?.touched 
          && this.registrationDetailsForm.get('email')?.hasError('email')">
        valid email is required
    </span>
      </div>
      <div class="column">
        <div class="input-box">
          <label>Phone Number</label>
          <input type="number" placeholder="Enter phone number" formControlName="phoneNo" required />
        </div>
        <div class="input-box">
          <label>Birth Date</label>
          <input type="date" placeholder="Enter birth date" formControlName="gender"  required />
        </div>
      </div>
      <div>
      <label for="city">Select your city:</label>
    <select id="city" name="city">
        <option value="">--Select City--</option>
        <option value="newyork">Lko</option>
        <option value="losangeles">kanpur</option>
        <option value="chicago">Delhi</option>
        <option value="houston">Mumbai</option>
        
    </select>
  </div>
  <div class="input-box">
    <label>Gender</label>
    <input type="text" placeholder="Enter your gender" formControlName="gender" required />
  <span class="text-danger"
        *ngIf="this.registrationDetailsForm.get('gender')?.touched
                && this.registrationDetailsForm.get('gender')?.hasError('required')">
                Gender is required
  </span> 

  <span class="text-danger"
          *ngIf="this.registrationDetailsForm.get('gender')?.touched 
          && this.registrationDetailsForm.get('gender')?.hasError('pattern')">
        Please enter a valid gender (Male, Female, other)
    </span>
</div>
      
      <!-- <div class="input-box address">
        <label>Address</label>
        <input type="text" placeholder="Enter street address" required />
        <input type="text" placeholder="Enter street address line 2" required />
        <div class="column">
          <div class="select-box">
            <select>
              <option hidden>Country</option>
              <option>America</option>
              <option>Japan</option>
              <option>India</option>
              <option>Nepal</option>
            </select>
          </div>
          <input type="text" placeholder="Enter your city" required />
        </div>
        <div class="column">
          <input type="text" placeholder="Enter your region" required />
          <input type="number" placeholder="Enter postal code" required />
        </div>
      </div> -->
      <button [disabled]="!this.registrationDetailsForm.get('name')?.valid">Submit</button>
    </form>
  </section>